body {
    margin: 0;
    padding: 0;
    color: #444;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

header {
    background-color: #444;
    color: #eee;
    height: 30px;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 10px;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    background-color: #fff;
    height: 50px;
    color: #666;
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
}

footer a, footer a:visited {
    color: #900;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.wrapper {
    margin: auto;
    width: 800px;
}

/* ALL SCREENS */

.screen {
    position: relative;
    width: 800px;
    height: 600px;
}

.block {
    position: absolute;
    border: 2px solid #999;
    border-radius: 5px;
    background-image: linear-gradient(150deg, rgb(12, 10, 159), rgb(15,17,40));
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.avatar img {
    width: 100px;
}

/** SCREEN HOME **/

.home .block.characters {
    top: 40px;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 1;
    padding-top: 30px;
    padding-left: 30px;
}

    .avatar.front {
        float: left;
        margin-left: 10px;
        margin-right: 50px;
    }

    .avatar.back {
        float: left;
        margin-left: 50px;
        margin-right: 10px;
    }

    .infos1 {
        float: left;
        margin-right: 60px;
    }

    .infos2 {
        float: left;
    }

    .label {
        color: rgb(57, 216, 238);
    }

    .link {
        cursor: pointer;
        position: relative;
        color: #bbb;
    }

    .link.menu {
        margin: 6px 20px;
        height: 24px;
    }

    .link.active {
        color: #fff;
    }

    .link.active:hover::before {
        position: absolute;
        top: 4px;
        left: -50px;
        content: "";
        width: 48px;
        height: 24px;
        background: url(/img/icons/cursor.png) no-repeat;
    }

    dl {
        margin: 0;
    }

    dt {
        width: 30px;
        display: inline-block;
    }

    dd {
        width: 100px;
        display: inline-block;
        text-align: right;
        font-weight: bold;
    }

.home .block.menu {
    top: 0;
    right: 0;
    width: 200px;
    height: 60%;
    z-index: 2;
}

.home .block.infos {
    right: 0;
    bottom: 95px;
    width: 200px;
    height: 70px;
    z-index: 3;
}

.home .block.zone {
    right: 0;
    bottom: 45px;
    height: 50px;
    width: 400px;
    z-index: 2;
}

/** SCREEN FIGHT **/

.block.message {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    text-align: center;
}

.fight .part {
    display: inline-block;
    width: 400px;
    padding: 60px;
    box-sizing: border-box;
}

.fight .part.enemies {
    text-align: left;
}

.fight .enemy, .fight .character {
    position: relative;
}

.fight .msg {
    position: absolute;
    font-size: 20px;
    color: #000;
    top: 10px;
    text-shadow: 1px 1px 1px #666;
    font-weight: bold;
}

.enemies .msg {left: 10px;}
.characters .msg {right: 30px;}

.fight .part.characters {
    text-align: right;
}

.fight .block.commands {
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
}

.fight .block.command {
    top: 0;
    left: 200px;
}

.fight .legend .panel {
    color: #ccc;
    font-weight: bold;
    font-variant: small-caps;
}

.fight .panel {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.fight .panel.name {
    width: 270px;
}

.gaugeMax {
    width: 100px;
    height: 22px;
    background-color: rgb(122, 122, 122);
}

.gauge {
    height: 22px;
}

.miniGaugeMax {
    width: 100px;
    height: 4px;
    background-color: rgb(51, 1, 9);
}

.miniGauge {
    height: 4px;
}

.miniGauge.hp {
    background-color: rgb(14, 150, 255);
}

.miniGauge.mp {
    background-color: rgb(0, 255, 148);
}

.gauge.exp {
    background-color: rgb(232, 156, 193);
}

.gauge.atb {
    background-color: rgb(95, 233, 172);
}

.gauge.atb.full {
    background-color: rgb(220, 228, 139);
}

.gauge.limit {
    background-color: rgb(232, 156, 193);
}

.gauge.limit.full {
    -webkit-animation: limitAnim 1s infinite;
    animation: limitAnim 1s infinite;
}

    /* Chrome, Safari, Opera */
    @-webkit-keyframes limitAnim
    {
        0%   {background-color: rgb(159, 234, 109);}
        50%  {background-color: rgb(232, 156, 193);}
        100%  {background-color: rgb(159, 234, 109);}
    }

    /* Standard syntax */
    @keyframes limitAnim
    {
        0%   {background-color: rgb(159, 234, 109);}
        50%  {background-color: rgb(232, 156, 193);}
        100%  {background-color: rgb(159, 234, 109);}
    }

.barProgress {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

/* SCREEN REWARDS */

.rewards .block.title {
    top: 0;
    width: 800px;
    height: 50px;
}

.rewards .block.xp {
    top: 50px;
    width: 400px;
    height: 50px;
}

.rewards .block.ap {
    top: 50px;
    left: 400px;
    width: 400px;
    height: 50px;
}

    .block.xp .part, .block.ap .part {
        display: inline-block;
        width: 180px;
    }

    .block.xp .key, .block.ap .key {
        text-align: left;
    }

    .block.xp .value, .block.ap .value {
        text-align: right;
    }

.rewards .block.character {
    width: 800px;
    height: 150px;
}

    .block.character .part {
        display: inline-block;
        vertical-align: middle;
        margin-left: 50px;
    }

    .block.character .part.labels {
        text-align: right;
        margin-left: 150px;
    }

    .block.character .part.gains {
        text-align: right;
    }

.rewards .block.character:nth-of-type(4) {top: 100px;}
.rewards .block.character:nth-of-type(5) {top: 250px;}
.rewards .block.character:nth-of-type(6) {top: 400px;}

.rewards .block.next {
    top: 550px;
    right: 0;
    width: 100px;
    height: 50px;
}

/* SCREEN GAME OVER */

.game-over {
    width: 800px;
    height: 415px;
    background: url(/img/game-over.jpg) no-repeat;
}